@import url("./normalize.css");
@import url("./skeleton.css");
@import url("./boilerplate.css");
@import url("./isotope.css");
@import url("./navbar.css");
@import url("./photo.css");

body {
  background: #00BFA0;
}

.split .left {
  background: #6562ef;
}

div.right {
  background: black;
}

a {
  color: #00BFA0;
}

.brand h1 {
  color: white;
}

.brand:hover h1{
  color: #00BFA0;
}